.img-hover{
    position: relative;
    overflow: hidden;
}

.img-hover img{
    transition: transform .7s ease-in-out;
}

.img-hover:hover img{
    transform: scale(1.1);
}

.overlay{
    position: absolute;
    background-color: rgba(0, 0, 0, .7);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    opacity: 0;
    transition: opacity .7s ease-in-out;
}

.img-hover:hover .overlay{
    opacity: 1;
}

.link{
    width: 40px;
    height: 40px;
    padding: 10px;
    background-color: black;
    color: #fff;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: .5s ease-in-out;
    cursor: pointer;
}

.link:hover{
    background: #fff;
    color: #000;
}
